input.dark-mode-toggle {
  display: none;
  &:checked {
    + label .ball {
      left: 3.2rem - 1.39rem;
    }
  }
}

.dark-mode-label {
  background-color: rgba($primary, .15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .3rem;
  border-radius: 3rem;
  position: relative;
  height: 1.6rem;
  width: 3.2rem;

  .ball {
    background-color: $primary;
    position: absolute;
    border-radius: 50%;
    top: .2rem;
    left: .25rem;
    height: 1.19rem;
    width: 1.19rem;
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  i {
    font-size: 1rem;
    color: rgba($primary, .7);
  }

}